# Gromit-MPX Config — orthogonal tool as default

# Tools
"red Ortho" = ORTHOGONAL (color="red" size=5 simplify=15 radius=20 minlen=50 snap=40);
"Eraser" = ERASER (size=75);

# Mappings
"default" = "red Ortho";
"default"[Button3] = "Eraser";
